<h1>Cancelled checkout :(</h1>

<div data-controller="redirect" data-redirect-url-value="<%= root_path %>">
  You will be redirected back in <span data-target='redirect.seconds'></span> seconds.
  <a href="#" data-target="redirect.link">or Click here to go now.</a>
</div>
